

.search-bar{
    width: 50%;
}

.organic-intro{
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.075);
  
}


/*.card-button{
  z-index: 1000;
  position: relative;
}*/

.plant-section{
  
  background-color: lightblue;
}

.list-custom{
  background-color: lightblue;
}

.form-edit{
  width: 100%;
  justify-content: space-between;
}

.img-1{
  width: 20;
  right: 5%;
}

.img-2{
  width: 20%;
  left: 5%;
}

.img-3{
  width: 20%;
  right: 5%;
  
}
.img-collection{
   justify-content: end;
   right: 10%;
   -ms-flex-align: end;
}

.submit-btn{
  width: 150%;
}

